<%= status_view :status_styles, :layout => false %>

<h1 class='wi'>Statuses</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<%
  status_filters = %w[working completed failed killed]
  filters = @filters || {}
%>
<%unless @statuses.empty?%>
  <form method="POST" action="<%= u(:statuses) %>/clear" class='clear-failed'>
    <input type='submit' name='' value='Clear Statuses' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
  <form method="POST" action="<%= u(:statuses) %>/clear/completed" class='clear-failed'>
    <input type='submit' name='' value='Clear Completed Statuses' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
  <form method="POST" action="<%= u(:statuses) %>/clear/failed" class='clear-failed'>
    <input type='submit' name='' value='Clear Failed Statuses' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
  <%end%>
  <div class="card form-inline form-group" style="width: 450px;">
    <div class="card-body">
      <h4>Filters</h4>
      <span class="filter">Status</span>
        <select class="form-control" id="status_filter">
          <option></option>
          <% status_filters.each do |status_filter| %>
            <option <%= status_filter == filters[:status] ? 'selected' : nil %> value=<%= status_filter %>><%= status_filter.capitalize %></option>
          <% end %>
        </select>
        <span class="filter">Job Name</span>
        <input class="form-control" type="text" id="job_name" value="<%= filters[:job] %>" />
      </div>
  </div>


<p class='intro'>These are recent jobs created with the Resque::Plugins::Status class</p>
<table class="table table-bordered table-hover">
<thead class="thead-dark">
  <tr>
    <th>Started At</th>
    <th>Name</th>
    <th class="duration">Duration</th>
    <th class="status">Status</th>
    <th>Progress</th>
    <th>Message</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% unless @statuses.empty? %>
    <% @statuses.each do |status| %>
    <tr>
      <td><%= status.time.strftime("%Y/%m/%d %H:%M:%S") %></td>
      <td><a href="<%= u(:statuses) %>/<%= status.uuid %>"><%= status.name %></a></td>
      <td class="duration"><%= status['end_time'].present? ? "#{((status['end_time'].to_time - status.time) / 60).round(2)} minutes" : nil %></td>
      <td class="status status-<%= status.status %>"><%= status.status.capitalize %></td>
      <td class="" style="width:120px">
<div class="progress">
  <div class="progress-bar <%= status.working? ? 'progress-bar-striped progress-bar-animated' : '' %> <%= progress[status.status.to_sym] %>" role="progressbar" style="width: <%=status.pct_complete%>%;" aria-valuenow="<%=status.pct_complete %>" aria-valuemin="0" aria-valuemax="100"><%=status.pct_complete%>%</div>
</div>
      </td>
      <td class="message"><div><%= status.message %></div></td>
      <td>
      <% if status.killable? %><a href="<%= u(:statuses) %>/<%= status.uuid %>/kill">Kill</a><% end %>
      <% if status.failed? || status.completed? %><a href="<%= u(:statuses) %>/<%= status.uuid %>/rerun">Rerun</a><% end %>
      </td>
    </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="7" class='no-data'>No Statuses right now...</td>
  </tr>
  <% end %>
</tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @statuses, :page_links => true %>
</div>

<!-- <%= status_poll(@start) %> -->

<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('a.kill').click(function(e) {
      e.preventDefault();
      var $link = $(this),
          url = $link.attr('href'),
          confirmed = confirm("Are you sure you want to kill this job? There is no undo.");
      if (confirmed) {
        $link.animate({opacity: 0.5});
        $.ajax({
          url: url,
          type: 'post',
          success: function() {
            $link.remove();
          }
        });
      } else {
        return false
      }
    });

    $('#status_filter').change(function() {
      const params = (new URL(document.location)).searchParams;
      
      const status = this.value;
      if (status) {
      params.set("filters[status]", status);
      }
      else {
        params.delete('filters[status]');
      }
      window.location.search = params.toString();
    });

    $('#job_name').on('keypress',function(e) {
      const params = (new URL(document.location)).searchParams;
      
      if (e.which === 13) {
        const job = $(this).val();
        if (job) {
          params.set("filters[job]", job);
        }
        else {
          params.delete('filters[job]');
        }
        window.location.search = params.toString();
      }
    })
  });
</script>
