<%= status_view :status_styles, :layout => false %>

<h1 class='wi'>Statuses</h1>

<%
  status_filters = %w[working completed failed killed]
  filters = @filters || {}
%>
<%unless @statuses.empty?%>
  <form method="POST" action="<%= u(:statuses) %>/clear" class='clear-failed'>
    <input type='submit' name='' value='Clear Statuses' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
  <form method="POST" action="<%= u(:statuses) %>/clear/completed" class='clear-failed'>
    <input type='submit' name='' value='Clear Completed Statuses' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
  <form method="POST" action="<%= u(:statuses) %>/clear/failed" class='clear-failed'>
    <input type='submit' name='' value='Clear Failed Statuses' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
  <div class="filters">
  <h4>Filters</h4>
  <span class="filter">Status</span>
    <select id="status_filter">
    <option></option>
    <% status_filters.each do |status_filter| %>
      <option <%= status_filter == filters[:status] ? 'selected' : nil %> value=<%= status_filter %>><%= status_filter.capitalize %></option>
    <% end %>
    </select>
    <span class="filter">Job Name</span>
    <input type="text" id="job_name" value="<%= filters[:job] %>" />
  </div>
<%end%>

<p class='intro'>These are recent jobs created with the Resque::Plugins::Status class</p>
<table class="vertically-top">
  <tr>
    <th>Started At</th>
    <th>Name</th>
    <th class="duration">Duration</th>
    <th class="status">Status</th>
    <th class="progress">Progress</th>
    <th>Message</th>
    <th>Kill</th>
  </tr>
  <% unless @statuses.empty? %>
    <% @statuses.each do |status| %>
    <tr>
      <td><%= status.time.strftime("%Y/%m/%d %H:%M:%S %z") %></td>
      <td><a href="<%= u(:statuses) %>/<%= status.uuid %>"><%= status.name %></a></td>
      <td class="duration"><%= status['end_time'].present? ? "#{((status['end_time'].to_time - status.time) / 60).round(2)} minutes" : nil %></td>
      <td class="status status-<%= status.status %>"><%= status.status.capitalize %></td>
      <td class="progress status-<%= status.status %>">
        <div class="progress-bar" style="width:<%= status.pct_complete %>%">&nbsp;</div>
        <div class="progress-pct"><%= status.pct_complete ? "#{status.pct_complete}%" : '' %></div>
      </td>
      <td class="message"><div><%= status.message %></div></td>
      <td><% if status.killable? %><a href="<%= u(:statuses) %>/<%= status.uuid %>/kill" class="kill">Kill</a><% end %></td>
    </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="7" class='no-data'>No Statuses right now...</td>
  </tr>
  <% end %>
</table>

<% unless @statuses.empty? %>
  <%= partial :next_more, :start => @start, :size => @size, :per_page => per_page %>
<% end %>

<%= status_poll(@start) %>

<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('a.kill').click(function(e) {
      e.preventDefault();
      var $link = $(this),
          url = $link.attr('href'),
          confirmed = confirm("Are you sure you want to kill this job? There is no undo.");
      if (confirmed) {
        $link.animate({opacity: 0.5});
        $.ajax({
          url: url,
          type: 'post',
          success: function() {
            $link.remove();
          }
        });
      } else {
        return false
      }
    });

    $('#status_filter').change(function() {
      const params = (new URL(document.location)).searchParams;
      
      const status = this.value;
      if (status) {
      params.set("filters[status]", status);
      }
      else {
        params.delete('filters[status]');
      }
      window.location.search = params.toString();
    });

    $('#job_name').on('keypress',function(e) {
      const params = (new URL(document.location)).searchParams;
      
      if (e.which === 13) {
        const job = $(this).val();
        if (job) {
          params.set("filters[job]", job);
        }
        else {
          params.delete('filters[job]');
        }
        window.location.search = params.toString();
      }
    })
  });
</script>
